# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
.venv/

# Django migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Logs
*.log

# Database files
*.sqlite3

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python coverage reports
htmlcov/
.coverage
.coverage.*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# MacOS files
.DS_Store
