# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Django migrations
*/migrations/
!*/migrations/__init__.py

# Database
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Logs
*.log

# Reports
*.pdf


.gitignore